* { box-sizing: border-box; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }
body, html { margin: 0; padding: 0; height: 100%; width: 100%; overflow: hidden; }

#map { height: 100vh; width: 100%; z-index: 1; }

.ui-panel {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 350px;
    background: white;
    z-index: 1000;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.header h2 { margin: 0; color: #2c3e50; font-size: 22px;}
.header p { margin: 5px 0 0 0; color: #7f8c8d; font-weight: bold; }

.btn {
    padding: 10px; border: none; border-radius: 8px; font-weight: bold;
    cursor: pointer; width: 100%; transition: 0.2s;
}
.btn.secondary { background: #34495e; color: white; margin-bottom: 10px;}
.btn.secondary:hover { background: #2c3e50; }
.btn.danger { background: #e74c3c; color: white; }
.btn.danger:hover { background: #c0392b; }

.route-card {
    background: #f8f9fa; padding: 10px; border-radius: 8px; margin-bottom: 10px;
    border-left: 4px solid #95a5a6;
}
.route-card.safe-card { border-left-color: #3498db; background: #ebf5fb;}
.route-card p { margin: 5px 0 0 0; font-size: 14px; }
/* --- Стили для модального окна --- */
.modal-overlay {
    position: fixed; top: 0; left: 0; width: 100%; height: 100%;
    background: rgba(0,0,0,0.6); z-index: 2000;
    display: flex; justify-content: center; align-items: center;
}
.modal-overlay.hidden { display: none; }

.modal-content {
    background: white; padding: 25px; border-radius: 12px;
    width: 320px; text-align: center; box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}
.modal-content h3 { margin-top: 0; margin-bottom: 20px; color: #2c3e50; }

.threat-grid { display: flex; flex-direction: column; gap: 10px; margin-bottom: 20px; }
.threat-btn {
    background: #f8f9fa; border: 1px solid #dcdde1; padding: 12px;
    border-radius: 8px; cursor: pointer; text-align: left; font-size: 16px;
    transition: all 0.2s ease;
}
.threat-btn:hover { background: #ffeaa7; border-color: #f1c40f; transform: translateX(5px); }

#sos-btn {
    animation: pulse-red 2s infinite;
    cursor: pointer;
}

@keyframes pulse-red {
    0% { transform: scale(1); box-shadow: 0 0 0 0 rgba(192, 57, 43, 0.7); }
    70% { transform: scale(1.05); box-shadow: 0 0 0 15px rgba(192, 57, 43, 0); }
    100% { transform: scale(1); box-shadow: 0 0 0 0 rgba(192, 57, 43, 0); }
}